.porpoise {
	--widthserious: 1ch;
	--widthdolphin: 0;
	--usserious: auto;
	--usdolphin: none;
	--iconwidth: 0;
	--transdelay: 0s;
	--trdolphin: 0;
	--trserious: 1;
}

.activePorpoise .porpoise {
	--widthserious: 0;
	--widthdolphin: 1ch;
	--usserious: none;
	--usdolphin: auto;
	--iconwidth: 2ch;
	--transdelay: 0s;
	--trdolphin: 1;
	--trserious: 0;
}

.serious, .nahlmao, .icon {
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	will-change: transform;
	transition: transform 250ms;
	transition-delay: var(--transdelay);
}

.icon {
	transform-origin: right;
	text-align: center;
	font-size: 0.8em;
	transform: scaleX(var(--trdolphin));
	width: var(--iconwidth);
	user-select: var(--usdolphin);
}

.nahlmao {
	transform-origin: right;
	transform: scaleX(var(--trdolphin));
	width: var(--widthdolphin);
	user-select: var(--usdolphin);
}

.serious {
	transform-origin: left;
	transform: scaleX(var(--trserious));
	width: var(--widthserious);
	user-select: var(--usserious);
}

.hcenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
}

.vcfull {
	min-height: 100vh;
}

.vcenter {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2vw;
	max-width: 70%;
}

.mizaImg {
	width: 40vh;
	max-width: 20vw;
	-webkit-user-drag: none;
	user-select: none;
	aspect-ratio: 1/1;
	border-radius: 10px;
	object-fit: cover;
	object-position: 70% 50%;
	box-shadow: 0 1px 20px 0 #ac1ba2ad;
}

.left, .right {
	display: inline-block;
	vertical-align: middle;
}

.holder {
	position: relative;
	z-index: 4; /* above particles */
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 3vw;
}

.name {
	font-size: 4.2rem;
	font-style: italic;
	text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
}
.exp {
	font-size: 1.4rem;
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.isOut > * {
	opacity: 0.2;
	transform: translateY(50);
}
.slideIn > * {
	opacity: 1;
	transform: translateY(0);
}
.slider {
	transition: transform 350ms, opacity 350ms;
}
.nomoreblur .coolImgBro, .nomoreblur :global(canvas.tsparticles-canvas-el) {
	opacity: 0.8;
}
.yeahblur .coolImgBro, .yeahblur :global(canvas.tsparticles-canvas-el) {
	opacity: 0.2;
}
.coolImgBro {
	height: 110vh;
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-user-drag: none;
	user-select: none;
	pointer-events: none;
	transition: opacity .3s;
}
.vc2 {
	min-height: 100vh;
}
.vc3 {
	min-height: 80vh;
}
.coolTextBro {
	font-size: 1.2rem;
	backdrop-filter: blur(3px);
	background-color: rgba(255, 255, 255, 0.12);
	padding: 2rem;
	border-radius: 10px;
	z-index: 9;
}

.rel {
	position: relative;
}

.monitor {
	left: 3vh;
	height: 16vh;
	top: 10%;
	box-shadow: #00e7ff94 0 0 50px;
	animation: bobble 5s infinite;
}

@keyframes bobble {
	0% {
		transform: translateY(-1vw);
	}
	50% {
		transform: translateY(1vw);
	}
	100% {
		transform: translateY(-1vw);
	}
}
.nomoreblur .bars {
	opacity: 0.6;
	filter: blur(0);
}
.yeahblur .bars {
	opacity: 0.2;
	filter: blur(3px);
}
.bars {
	--width: 0;
	position: absolute;
	left: -2vw;
	width: 100vw;
	top: 0;
/*	transform: rotate(-5deg);*/
	opacity: 0.4;
	transition: opacity 350ms;
}
.bars2 {
	--width: 0;
	right: -2vw;
	left: unset;
	bottom: 0;
	top: unset;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.bars2 .bar {
	transform-origin: right;
}
.bar {
	transition: transform 750ms cubic-bezier(0.75, 0, 0.14, 0.99);
	will-change: transform;
	display: block;
	transform: scaleX(var(--width));
	transform-origin: left;
}

.bar:not(:last-child) {
	margin-bottom: 2px;
}

:root {
	scroll-snap-type: y proximity;
}
.snapPoint {
	scroll-snap-align: center;
}
.bigOpac .orbitals {
	opacity: 0.7;
}
.orbitals {
	position: absolute;
	top: 10vw;
	right: 10vw;
	opacity: 0.4;
	animation: bob 20s ease infinite;
	transition: opacity 350ms;
}
.orbs2 {
	bottom: 15vw;
	left: 10vw;
	top: unset;
	right: unset;
	animation: bob2 15s ease infinite;
	animation-delay: -2s;
}

.orbs2 .orbital {
	border-radius: unset;
	box-shadow: unset;
	--a: rgb(134 95 0);
	filter: drop-shadow(var(--a) 0 0 0) drop-shadow(var(--a) -1px 1px 0) drop-shadow(var(--a) -2px 2px 0);
}

@keyframes bob {
	0% {
		transform: skew(-20deg, 0deg) translateY(0);
	}
	50% {
		transform: skew(-20deg, 0deg) translateY(20px);
	}
	100% {
		transform: skew(-20deg, 0deg) translateY(0);
	}
}

@keyframes bob2 {
	0% {
		transform: skew(10deg, 0deg) translateY(0);
	}
	50% {
		transform: skew(10deg, 0deg) translateY(20px);
	}
	100% {
		transform: skew(10deg, 0deg) translateY(0);
	}
}

.orbital {
	position: absolute;
	left: 0;
	top: 0;
	width: 3vw;
	height: 3vw;
	animation: orbitalspin 20s linear infinite;
	border-radius: 100%;
	box-shadow: rgb(219 157 0) 0 0 1px, rgb(219 157 0) 1px 1px 1px, rgb(219 157 0) 2px 2px 1px, rgb(219 157 0) 3px 3px 1px;
}

@keyframes orbitalspin {
	0% {
		transform: rotate(0deg) translateX(4vw) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(4vw) rotate(-360deg);
	}
}



.center {
	text-align: center;
	width: 100%;
}

.ctas {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 0.5rem;
	margin-top: 1rem;
}

.ctas a {
	display: inline-block;
	padding: 0.4rem 1rem;
	text-decoration: none;
	color: white;
	background-color: rgba(255, 0, 236, 0.31);
	border-radius: 0.3rem;
	will-change: background-color;
	transition: background-color 250ms;
	text-align: center;
}

.ctas a:hover {
	background-color:  rgba(255, 0, 236, 0.45);
}

.mizaleaf {
	left: 0;
	bottom: 0;
	height: 50vh;
	right: unset;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
	z-index: 4;
}

:global(section.page-landing footer) {
	position: absolute;
	bottom: 0;
}

:global(section.page-landing canvas.tsparticles-canvas-el) {
	position: absolute !important;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	pointer-events: none !important;
	transition: opacity .4s;
}

.nomoreblur :global(#cogs1 canvas), .nomoreblur :global(#cogs2 canvas) {
	opacity: 0.4 !important;
}

.slide1 {
	background-image: linear-gradient(#4a0d44, #212244);
}
.slide2 {
	background-image: linear-gradient(#212244 90%, #4e0000 150%);
}
.slide3 {
	background-image: linear-gradient(#212244 -1%, #4e0000 6%);
}
.slide4 {
	background-image: linear-gradient(#4e0000 -8%, #463700  3%, #463700  99%, #212244  100%);
}
.slide5 {
	background-color:  #212244;
}

.slide4  > .vcenter, .slide5 .vcenter {
	min-height: 70vh;
}
.center {
	font-size: 1.8rem;
	font-weight: bolder;
}

.coolHeadingBro {
	font-size: 1.2em;
	font-weight: 700;
}