.hcenter {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.vcenter {
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 100vh;
}
.group {
	width: max-content;
	text-align: center;
}
.chartholder {
	height: max-content;
	width: 50vw;
}
.chart {
	width: 50vw;
	height: 25vw;
	background: white;
	border-radius: 5px;
	margin: 1vw;
}