.vcenter {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 100vh;
}
.hcenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.group {
	min-width: 40%;
	max-width: 50%;
	margin: 0.5em;
}

.errorCode {
	font-size: 2em;
	font-weight: bold;
}

:global(body.page-files footer) {
	position: absolute;
	bottom: 0;
}

.filename {
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
}

.id {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

.previewTxt {
	display: block;
	max-width: 70vw;
	max-height: 60vh;
}

.preCN {
	white-space: normal;
}
.previewImg {
	width: 20vw;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 #ffffff73;
}

.previewVideo {
	width: 30vw;
	max-height: 30vw;
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 #ffffff73;
}


.videogroup {
	padding-right: 10vw;
	margin: 0.5em;
}

.imggroup {
	padding-right: 20%;
	margin: 0.5em;
}

.uploadButton {
	padding: .2rem .5rem;
	background-color: #8017c1;
	pointer-events: all;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 250ms;
}
.uploadButton:hover {
	background-color: #974bc5
}

.rel {
	position: relative;
	margin-top: 1em;
}
.prog {
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(50% - 0.8em);
}

.ring2 {
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	transition: 0.35s stroke-dashoffset;
}


/*
	Totally not stolen from wtforms
	http://wtfforms.com/
*/

.file {
	position: relative;
	display: inline-block;
	cursor: pointer;
	height: 2.5rem;
}
.file input {
	min-width: 14rem;
	margin: 0;
	filter: alpha(opacity=0);
	opacity: 0;
}
.fileCustom {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	height: 2.5rem;
	padding: .5rem 1rem;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	border: .075rem solid #ddd;
	border-radius: .25rem;
	box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
	-webkit-user-select: none;
	-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
.fileCustom:after {
	content: "Choose file...";
}
.fileCustom:before {
	position: absolute;
	top: -.075rem;
	right: -.075rem;
	bottom: -.075rem;
	z-index: 6;
	display: block;
	content: "Browse";
	padding: .5rem 1rem;
	line-height: 1.5;
	color: #555;
	background-color: #eee;
	border: .075rem solid #ddd;
	border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .fileCustom {
	box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

.up {
	display: block;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 1em;
}