* {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
	color: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	user-select: inherit;
	vertical-align: baseline;
	background: none;
}
body {
	background-color: #222244;
	color: white;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	cursor: default;
}

a[href]:not(.hideext a):not(.hideext) {
	color: inherit;
	text-decoration: underline;
}
a[href^=http]/* not relative */:not(.hideext)/* direct removal */:not(.hideext a)/* inherited */::after {
	content: '🔗';
	display: inline-block;
	font-size: 0.9em;
	opacity: 0.5;
	transform: translateY(0);
	transition: transform 250ms ease, opacity 250ms;
}
a[href^=http]/* not relative */:not(.hideext):not(.hideext a):hover::after,
	a[href^=http]/* not relative */:not(.hideext):not(.hideext a):focus::after,
	a[href^=http]/* not relative */:not(.hideext):not(.hideext a):active::after {
	transition-delay: .2s;
	opacity: 1;
	transform: translateY(-4px);
}

#root {
	position: relative;
	width: 100%;
	height: 100%;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem;
	gap: 2ch;
	z-index: 9;
}
section {
	background-color: #222244;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	width: 100%;
	transition: transform .3s, opacity .3s;
}

.navigation-exit > div, .navigation-exit > footer {
	opacity: 0;
	animation: fadeOutUp .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.navigation-enter > div, .navigation-enter > footer {
	opacity: 1;
	animation: fadeInUp .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navigation-exit nav {
	opacity: 0;
	z-index: 1;
	animation: fadeOutUp .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.navigation-enter nav {
	z-index: 2;
	animation: fadeInUp .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}


@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translate3d(0,0,0)
	}

	100% {
		opacity: 0;
		transform: translate3d(0,-50px,0)
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0,50px,0)
	}

	100% {
		opacity: 1;
		transform: translate3d(0,0,0)
	}
}
footer {
	width: 100%;
	display: block;
	align-items: center;
	flex-direction: row;
	padding: 2rem;
	text-align: center;
}

.sep {
	display: inline-block;
	max-height: 0;
	width: 5em;
}
.fadeInUp div {
	animation: fadeInUp .3s ease;
}

.activeNav {
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}

.emoji {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: baseline;
}